# Compiled Object files
*.o

# Executables (התוכניות שנוצרות לאחר הקומפילציה)
hexeditplus
task4

# Lab binary files (קבצי המעבדה שירדו ושינינו, בד"כ לא נרצה לעקוב אחריהם בגיט אלא אם זה לגיבוי אישי)
ntsc
deep_thought
offensive
testfile

# Archives (קובץ ההגשה הסופי)
*.zip
*.tar.gz

# Editor/IDE files (קבצי הגדרות של העורך שלא רלוונטיים לקוד)
.vscode/
.idea/
*.swp
.DS_Store